<form class="form-horizontal" method="post" novalidate>
    {% csrf_token %}
    {% for field_dict in add_edit_form %}
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">{{ field_dict.bound_field.label }}</label>
            <div class="col-sm-6">
                {{ field_dict.bound_field }}
            </div>

            <!-- 添加符号 -->
            {% if field_dict.popUp %}
                <div class="add">
                    <span onclick="popUp('{{ field_dict.popUp_url }}')" class="glyphicon glyphicon-plus"></span>
                </div>
            {% endif %}

            <!-- 错误信息 -->
            <span class="help-block">{{ field_dict.bound_field.errors.0 }}</span>
        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>
