{% extends 'thanos/base_template.html' %}
{% load staticfiles %}
{% load my_tags %}
{% block my_css %}
    <link rel="stylesheet" href="{% static 'thanos/css/changelist_view.css' %}">
{% endblock %}

{% block window_title %}{{ cl.model_name }}记录列表{% endblock %}

{% block page_title %}{{ cl.model_name }}列表{% endblock %}

{% block content %}

    <!-- 组合搜索 -->
    {% if cl.show_comb_filter %}
        <div id="comb-filter">
            {% for row in cl.gen_comb_filter %}

                <div class="filter-item">
                    {% for ele in row %}
                        {{ ele }}
                    {% endfor %}
                </div>

            {% endfor %}

        </div>
    {% endif %}

    <!-- 搜索框 -->
    {% if cl.show_search_form %}
        <form method="get" class="form-horizontal pull-right">
            <div class="form-group col-md-10">
                <input type="text" class="form-control" name="{{ cl.search_input_name }}"
                       value="{{ cl.search_input_val }}"
                       placeholder="请输入搜索条件">
            </div>
            <div class="col-md-1">
                <button class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    {% endif %}

    <!-- 批量操作、添加记录、表格主体 -->
    <form method="post" class="form-horizontal">
        {% csrf_token %}

        <!-- actions -->
        {% if cl.show_actions %}
            <div class="form-group col-md-3">
                <select name="actions" class="form-control">
                    <option>---------------</option>
                    {% for dict_item in cl.modify_actions %}
                        <option value="{{ dict_item.func_name }}">{{ dict_item.text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary">GO</button>
            </div>
            <div class="clearfix"></div>
        {% endif %}

        <!-- 添加记录按钮 -->
        {% if cl.show_add_btn %}
            <div class="row" style="padding: 0 30px;margin-bottom: 10px">
                <a href="{{ cl.add_href }}" class="btn btn-success">添加记录</a>
            </div>
            <p></p>
        {% endif %}

        <!-- 表格主体 -->
        <table class="table table-bordered">
            <thead>
            <tr>
                {% for td in cl.head_list %}
                    <th>{{ td }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in cl.data_list %}
                <tr>
                    {% for td in row %}
                        <td>{{ td }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </form>

    <!-- 分页 -->
    {{ cl.pager_html|safe }}

{% endblock content %}

{% block my_js %}
    <script src="{% static 'thanos/js/changelist_view.js' %}"></script>
{% endblock %}
