{% extends 'thanos/base_template.html' %}
{% load staticfiles %}

{% block window_title %}删除记录{% endblock %}

{% block page_title %}确定删除记录？{% endblock %}

{% block content %}
    <input class="btn btn-danger btn-lg" type="submit" name="confirm" value="确定">
    <input class="btn btn-default btn-lg" type="submit" name="confirm" value="取消">
{% endblock content %}


{% block my_js %}
    <script>
        $("input").click(function () {
            var opt = $(this).val();
            $.get({
                url: location.href,
                data: {"opt": opt},
                success: function (res_dict) {
                    if (res_dict['status']) {
                        location.href = res_dict['rtn_url'];
                    }
                }
            })
        })
    </script>
{% endblock my_js %}