{% extends 'thanos/base_template.html' %}
{% load staticfiles %}

{% block my_css %}
    <style>
        li {
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block window_title %}公共资源{% endblock %}

{% block page_title %}公共资源{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>客户姓名</th>
            <th>性别</th>
            <th>咨询课程</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in obj_list %}
            <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.get_gender_display }}</td>
                <td>
                    {% for i in obj.course.all %}
                        <span>{{ i }}</span> |
                    {% endfor %}
                </td>
                <td><a href="/crm/app03/customer/{{ obj.pk }}/competition/">接单</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block my_js %}

{% endblock %}