{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'thanos/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'thanos/css/resultinput_view.css' %}">
    <title>成绩录入</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h2>成绩录入</h2>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}

        <button class="btn btn-primary pull-right" style="margin-bottom: 10px">保存</button>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>课堂</th>
                <th>学生姓名</th>
                <th>成绩</th>
                <th>评语</th>
            </tr>
            </thead>
            <tbody>
            {% for row_dict in data_list %}
                <tr>
                    <td>{{ row_dict.stu_record_obj.course_record }}</td>
                    <td>{{ row_dict.stu_record_obj.student.customer.name }}</td>
                    {% for field in row_dict.form %}
                        <td>{{ field }}</td>
                    {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

</div>
<script src="{% static  'thanos/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'thanos/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'thanos/js/resultinput.js' %}"></script>
</body>
</html>